/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 65.5%;
}

body{
  position: relative;
}

.hidden{
  display: none;
}
/******************************************
/* LAYOUT
/*******************************************/

.flex-container{
  background-image: linear-gradient(to right top, #3d6093, #00698f, #006c6f, #006a3f, #456205);
  height: 100vh;
}


h1{
  font-size: 7rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
  color: white;
  text-shadow: 2px 2px #0059ff;
  
}

h2{
  font-size: 3rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #0059ff;
}

input{
  text-align: center;
  border: 1px solid white;
  border-radius: 1rem;
  width: 25rem;
  box-shadow: 2px 2px #0059ff;
  background-color: #4CAF50;
}

input::placeholder{
  color: white;
}

input, select, textarea{
  color: white;
}

.inputContainer{
 display: flex;
 justify-content: center;
 font-size: 3rem;
 margin-top: 5%;
 margin-bottom: 2%;
 height: 4rem;
 gap: 1rem;
}

button{
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.previousResults{
  height: 27vmin;
  margin-bottom: 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  column-gap: 1.5rem;
  display: flex;
  justify-content: center;
}
.previousResults div{
  font-size: 5rem;
  box-shadow: 4px 6px #034c7c;
  height: 900x;
  width: 90px;
  border-radius: 50%;
  align-self: center;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px #e0bf03;
  background-color: #0198fc;
  padding: 1%;
  
}

.used-numbers{
  font-size: 2.5rem;
  margin: auto;
  text-align: center;
  color: white;
  text-shadow: 2px 2px #0059ff;
}

.errorInfo{
  font-size: 3rem;
  text-align: center;
  text-size-adjust: auto;
  padding: 1% 1% 1% 1%;
  color: white;
  text-shadow: 2px 2px #0059ff;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
}

.array{
  font-size: 3rem;
}

/******************************************
/* KEYBOARD FOR MOBILE DEVICES */

.keyboard{
  height: 40vh;
  width: 100vw;
  border: 0.1rem solid black;
}

.keyContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-right: 30%;
  margin-left: 30%;
}

.key{
  height: 15rem;
  width: 15rem;
  border: 0.1rem solid red;
  font-size: 5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.key span{
  
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 368px) {
  h1{
    padding-top: 5rem;
    font-size: 10rem;
  }
  h2{
    padding-top: 3rem;
    font-size: 6rem;
  }
  .used-numbers{
    padding-top: 2rem;
    font-size: 3rem;
  }
  .inputContainer{
    margin-top: 8rem;
    gap: 4rem;
  }
}